* {
  padding: 0;
  margin: 0;
}

body {
  background-color: cadetblue;
}

.paginaCadastro {
  width: 100dvw;
  height: 100dvh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cadastro {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 40dvw;
  height: 40dvh;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 30px;
  background-color: rgb(68, 131, 136);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);
}

.cadastro > div > input {
  border-radius: 10px;
  width: 300px;
  height: 50px;
  text-align: center;
  margin-top: 10px;
  border: none;
}

.cadastro > div > input:hover {
  cursor: pointer;
}

.cadastro > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cadastro > div > button {
  border-radius: 10px;
  width: 100px;
  height: 30px;
  justify-content: center;
  border: none;
}

.cadastro > div > button:hover {
  background-color: #a1e4dd;
  border: black;
  cursor: pointer;
}

.cadastro > div > p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 2px 2px 5px rgb(93, 221, 200);
}

div > p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 2px 2px 5px rgb(93, 221, 200);
  margin-top: 10px;
}

.jogos {
  display: flex;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 30px;
}

.jogos > ul > li {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 400px;
  margin-right: 70px;
  margin-top: 30px;
}

.jogos > ul > li > button {
  border-radius: 5px;
  border: none;
  width: 50px;
}

.jogos > ul > li > button:hover {
  background-color: #b33923;
}

::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #439e9a;
}

@media (max-width: 1300px) {
  .cadastro > div > input {
    width: 200px;
    height: 30px;
    font-size: 15px;
  }

  .cadastro > div > button {
    width: 80px;
    height: 30px;
    font-size: 10px;
  }

  .jogos > ul > li {
    font-size: 15px;
    margin: 10px;
    width: 350px;
  }

  .jogos > ul > li > button {
    width: 50px;
    font-size: 10px;
  }
}
